<div class="container">
    <img id="headerImg" src="../../assets/logo-hn-search-a822432b.webp" alt="" srcset="">
    <div id="searchHead">Search<br />
        Hacker News</div>
    <input [(ngModel)]="value" (keyup)="getValue(value)" type="search"
        placeholder="Search stories by title, url or author" class="SearchInput">
    <img id="settingIMG" src="../../assets/settings--v1.png" alt="settingIMG">
    <div id="setting">Settings</div>
</div>
<div>{{value}}</div>
<div *ngFor="let obj of results">
    <div id="nameURL">
        <div>{{obj.title}}</div>
        <a href="{{obj.url}}">({{obj.url}})</a>
    </div>
    <div id="pointsComments">
        <div>{{obj.points}} points |</div>
        <div class="ayc"> {{obj.author}} |</div>
        <div class="ayc"> {{obj.created_at}} years ago |</div>
        <div class="ayc"> {{obj.num_comments}} comments </div>
        <div>{{obj.objectID}}</div>
    </div>
</div>