.container {
  display: flex;
  background-color: #ff742b;
  justify-content: space-evenly;
}
#searchHead #setting {
  align-items: center;
  font-size: 20px;
  text-align: center;
}
#headerImg {
  width: 48px;
}
.SearchInput {
  width: 70%;
}
#settingIMG {
  width: 30px;
  height: 30px;
}
#nameURL {
  display: flex;
}
#pointsComments {
  display: flex;
}
.ayc {
  padding-left: 2px;
}
a {
  text-decoration: none;
  color: #828282;
  font-size: 15px;
}
